body {
  font-family: "PT sans", arial;
  font-size: 28.5px;
  font-weight: normal;
  font-style: italic;
  font-variant: small-caps;
  text-decoration: underline;
  text-align: center;
  text-indent: 3px;
  line-height: normal;
  letter-spacing: 2px;
  text-shadow: 1px 3px 2px skyblue;
  background: #aaa;
}

h1 {
  letter-spacing: -66px;
}
