body {
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/checkerboard-cross.png);
  background-size: 100px;
  font: 1em "PT Sans";
  text-transform: uppercase;
}

/**********Main Menu**********/

.nav {
  list-style: none;
  padding: 0;
  margin: 30px;
  width: 50px;
  opacity: 0.5;
}

.nav:hover {
  opacity: 1;
}

.nav li {
  height: 50px;
  width: 50px;
  overflow: hidden;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.nav li:hover {
  width: 200px;
  height: 174px;
}

.nav li a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background: #bbb;
  margin: 1px;
  color: #fff;
  padding-left: 15px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.nav li a:hover {
  background: #2fc5ff;
}

.nav li a:first-child {
  font-size: 1.1em;
  height: 50px;
  line-height: 50px;
  position: relative;
  text-indent: 36px;
}

.nav li a:first-child::before {
  content: "";
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 9px;
  left: 9px;
}

.main-menu a:first-child::before {
  background: url(home.png) center no-repeat;
}

.settings a:first-child::before {
  background: url(settings.png) center no-repeat;
}

.link a:first-child::before {
  background: url(link.png) center no-repeat;
}

.search a:first-child::before {
  background: url(search.png) center no-repeat;
}
